.jInputFile-input{
	position: absolute;
}

.jInputFile-customFile{
    cursor: pointer;
	position: absolute;
	width: 373px;
    height: 23px;
    z-index: 2;
	font-size: 12px;
	filter: alpha(opacity: 0);
    opacity: 0;
}

.jInputFile-fakeButton{
    cursor: pointer;
    position: absolute;
    z-index: 1;
    width: 373px;
    height: 23px;
    background: url('../img/input-file-bg.png') no-repeat left top;
    float: left;
}
       
.jInputFile-blocker{
    position: absolute;
    z-index: 3;
    width: 150px;
    height: 21px;
    margin-left: -155px;
}

.jInputFile-fileName{
    z-index: 1;
    position: absolute;
    height: 23px;
	line-height: 19px;
    font-size: 12px;
    font-family: 'Arial';
    margin-top: 2px;
    padding-top: 1px;
    padding-left: 10px;
	display: none;
}

.jInputFile-activeBrowseButton{
    background: url('../img/input-file-bg.png') no-repeat left top;
    display: none;
}